.edit {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 15px;

}

.head {
    width: 100%;
    height: 100%;
    background-color: #2f2d33;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9%;
    padding: 1% 0 1% 0;
}

.head1 {
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* .head11 {
    display: flex;
    flex-direction:row ;
} */

#color {
    background-color: #2f2d33;
    color: #f6f5f7;
    border: none;
}

.change {
    background-color: #866ac4;
}

.one {
    background-color: #ffcccc;
}

.two {
    background-color: #866ac4;
}

.three {
    background-color: #3a0ca3;

}

.four {
    background-color: #00f8a9;

}

.five {
    background-color: #00574e;
}


.stroke {
    background-color: #8c8a94;
    border: 1px solid #8c8a94;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.head2 {
    flex: none;
    order: 2;
    flex-grow: 0;
}

.bullet,
.pin,
.submit,
.delete {
    font-size: xx-large;
    color: #f6f5f7;
}

.str1 {
    order: 3;
}

.head3 {
    flex: none;
    order: 4;
    flex-grow: 0;
}

.str2 {
    order: 5;
}

.head4 {
    flex: none;
    order: 6;
    flex-grow: 0;
}

.str3 {
    order: 7;
}

.head5 {
    flex: none;
    order: 8;
    flex-grow: 0;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 99.5%;
    height: 100%;
    background-color: #866ac4;
}

textarea:focus {
    outline: none;
}

@media screen and (max-width:1024px) {
    .text {
        width: 99.2%;
    }

    .head {
        gap: 9%;
    }

    .bullet,
    .pin,
    .submit,
    .delete {
        font-size: x-large;

    }

}

@media screen and (max-width:768px) {
    .text {
        width: 99%;
    }

    .head {
        gap: 8%;
    }

    .bullet,
    .pin,
    .submit,
    .delete {
        font-size: x-large;

    }

}
@media screen and (max-width:701px) and (min-width:566px) {
    .text {
        width: 98.9%;
    }

    .head {
        gap: 8%;
    }

    .bullet,
    .pin,
    .submit,
    .delete {
        font-size: x-large;

    }

}
@media screen and (max-width:565px) and (min-width:493px) {
    .text {
        width: 98.4%;
    }

    .head {
        gap: 6.7%;
    }

    .bullet,
    .pin,
    .submit,
    .delete {
        font-size: x-large;

    }

}
@media screen and (max-width:492px) and (min-width:426px) {
    .text {
        width: 98.3%;
    }

    .head {
        gap: 6.5%;
    }

    .bullet,
    .pin,
    .submit,
    .delete {
        font-size: x-large;

    }

}

@media screen and (max-width:425px) {
    .text {
        width: 98.3%;
    }

    .head {
        gap: 6%;
    }

    .bullet,
    .pin,
    .submit,
    .delete {
        font-size: x-large;

    }

}

@media screen and (max-width:375px) {
    .text {
        width: 98%;
    }

    .head {
        gap: 6%;
    }

    .bullet,
    .pin,
    .submit,
    .delete {
        font-size: large;
    }

}

@media screen and (max-width:320px) {
    .text {
        width: 97.5%;
    }

    .head {
        gap: 5%;
    }

    .bullet,
    .pin,
    .submit,
    .delete {
        font-size: large;
    }

}