@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

.profilecard {
    position: relative;
    width: 50%;
    height: 50%;
}

.profilehead {
    position: absolute;
    left: 24px;
    background-color: #d8c1ff;
    width: 90%;
    height: 500%;
    border-radius: 8px;
}

.profilename {
    background-color: #866ac4;
    position: absolute;
    height: 450%;
    width: 10%;
    left: 34%;
    top: 300%;
    border-radius: 50%;
}

.name {
    /* width: 100%;
    height: 100%; */
    position: absolute;
    top: 400%;
    left: 36%;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 370%;
    font-style: normal;
    line-height: 56px;
}

.fullname {
    /* width: 73px;
    height: 24px; */
    position: relative;
    top: 230px;
    left: 33%;
    color: #2f2d33;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 200%;
    line-height: 24px;
}

.email {
    position: absolute;
    width: 35px;
    height: 21px;
    left: 36%;
    top: 290px;
    font-style: normal;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 180%;
    line-height: 21px;
    color: #2f2d33;
}

.changepass {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;
    margin-left: 1%;
    /* height:40%; */
    left: 2%;
    top: 400px;
    text-decoration: none;
}

.passwords {
    width: 100%;
    /* height: 100%; */
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 180%;
    line-height: 21px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #2f2d33;
}

.iconify {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.none {
    text-decoration: none;
    color: #2f2d33;
}

.note {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;
    margin-left: 1%;
    /* height: 40%; */
    left: 2%;
    top: 470px;
}

.notewords {
    width: 100%;
    /* height: 100%; */
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 180%;
    line-height: 21px;
    color: #2f2d33;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none;
}

.favourites {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;
    margin-left: 1%;
    /* height: 24px; */
    left: 2%;
    top: 540px;
}

.favwords {
    width: 100%;
    /* height: 21px; */
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 180%;
    line-height: 21px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.closewindow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;
    margin-left: 1%;
    /* height: 24px; */
    left: 2%;
    top: 610px;
}

.closewords {
    width: 100%;
    /* height: 21px; */
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 180%;
    line-height: 21px;
    color: #2f2d33;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;
    margin-left: 1%;
    /* height: 24px; */
    left: 2%;
    top: 680px;
}

.logwords {
    width: 100%;
    /* height: 21px; */
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 180%;
    line-height: 21px;
    color: #2f2d33;
    flex: none;
    flex-grow: 0;
}
@media screen and (max-width:2230px) {
    .profilename {
        width: 15%;
        height: 470%;
        top: 245%;
    }
    .name{
        left: 37.5%;
    }
}

@media screen and (max-width:1440px) {
    .profilehead{
        height: 400%;
    }
    .profilename {
        width: 15%;
        left: 40%;
        top: 200%;
    }

    .name {
        left: 43%;
        font-size: 310%;
        top: 300%;
    }

    .fullname {
        left: 39%;
        font-size: 140%;
        top: 180px;
    }

    .email {
        left: 43%;
        font-size: 120%;
        top: 225px;
    }
    .changepass{
        top: 280px ;
        margin-left: 2%;
    }

    .passwords {
        font-size: 120%;
    }
    .note{
        top: 330px;
        margin-left: 2%;
    }

    .notewords {
        font-size: 120%;
    }
    .favourites{
        top:380px ;
        margin-left: 2%;
    }

    .favwords {
        font-size: 120%;
    }
    .closewindow{
        top:430px ;
        margin-left: 2%;
    }

    .closewords {
        font-size: 120%;
    }
    .logout{
        top: 480px;
        margin-left: 2%;
    }

    .logwords {
        font-size: 120%;
    }
}
@media screen and (max-width:1170px){
    .profilename{
        width: 18%;
        height: 318%;
        top: 245%;
    }
}
@media screen and (max-width:1024px) {
    .profilehead {
        height: 300%;
    }

    .profilename {
        width: 17%;
        height: 320%;
        left: 40%;
        top: 170%;
    }

    .name {
        left: 43%;
        font-size: 250%;
        top: 220%;
    }

    .fullname {
        left: 40%;
        font-size: 120%;
        top: 140px;
    }

    .email {
        left: 44%;
        font-size: 100%;
        top: 170px;
    }

    .changepass {
        top: 220px;
        margin-left: 3%;
    }

    .passwords {
        font-size: 100%;
    }

    .note {
        top: 270px;
        margin-left: 3%;
    }

    .notewords {
        font-size: 100%;
    }

    .favourites {
        top: 320px;
        margin-left: 3%;
    }

    .favwords {
        font-size: 100%;
    }

    .closewindow {
        top: 370px;
        margin-left: 3%;
    }

    .closewords {
        font-size:100%;
    }

    .logout {
        top: 420px;
        margin-left: 3%;
    }

    .logwords {
        font-size: 100%;
    }
}
@media screen and (max-width:768px) {
    .profilehead {
        height: 250%;
    }

    .profilename {
        width: 17%;
        height: 250%;
        left: 40%;
        top: 130%;
    }

    .name {
        left: 43%;
        font-size: 180%;
        top: 140%;
    }

    .fullname {
        left: 40%;
        font-size: 80%;
        top: 110px;
    }

    .email {
        left: 44%;
        font-size: 70%;
        top: 135px;
    }

    .changepass {
        top: 180px;
        margin-left: 4%;
    }

    .passwords {
        font-size: 70%;
    }

    .note {
        top: 220px;
        margin-left: 4%;
    }

    .notewords {
        font-size: 70%;
    }

    .favourites {
        top: 260px;
        margin-left: 4%;
    }

    .favwords {
        font-size: 70%;
    }

    .closewindow {
        top: 300px;
        margin-left: 4%;
    }

    .closewords {
        font-size: 70%;
    }

    .logout {
        top: 340px;
        margin-left: 4%;
    }

    .logwords {
        font-size: 70%;
    }
}
@media screen and (max-width:580px) {
    .profilename{
        width: 22%;
    }
    .name {
        left: 44%;
    }
    .changepass{
        margin-left: 6%;
    }
    .note{
        margin-left: 6%;
    }
    .favourites{
        margin-left: 6%;
    }
    .closewindow{
        margin-left: 6%;
    }
    .logout{
        margin-left: 6%;
    }

}
@media screen and (max-width:425px) {
    .profilehead {
        height: 200%;
    }

    .profilename {
        width: 22%;
        height: 200%;
        left: 42%;
        top: 100%;
    }

    .name {
        left: 46%;
        font-size: 140%;
        top: 90%;
    }

    .fullname {
        left: 40%;
        font-size: 70%;
        top: 85px;
    }

    .email {
        left: 46%;
        font-size: 60%;
        top: 105px;
    }
    .iconify{
        width: 10%;
    }

    .changepass {
        top: 140px;
        margin-left: 10%;
    }

    .passwords {
        font-size: 70%;
    }

    .note {
        top: 170px;
        margin-left: 11%;
    }

    .notewords {
        font-size: 70%;
    }

    .favourites {
        top: 200px;
        margin-left: 10%;
    }

    .favwords {
        font-size: 70%;
    }

    .closewindow {
        top: 230px;
        margin-left: 10%;
    }

    .closewords {
        font-size: 70%;
    }

    .logout {
        top: 260px;
        margin-left: 10%;
    }

    .logwords {
        font-size: 70%;
    }
}
@media screen and (max-width:350px){
    .profilehead {
            height: 200%;
        }
    
        .profilename {
            width: 24%;
            height: 180%;
            left: 45%;
            top: 100%;
        }
    
        .name {
            left: 49%;
            font-size: 120%;
            top: 80%;
        }
    
        .fullname {
            left: 42%;
            font-size: 60%;
            top: 80px;
        }
    
        .email {
            left: 48%;
            font-size: 50%;
            top: 100px;
        }
    
        .iconify {
            width: 10%;
        }
    
        .changepass {
            top: 130px;
            margin-left: 10%;
        }
    
        .passwords {
            font-size: 60%;
        }
    
        .note {
            top: 160px;
            margin-left: 11%;
        }
    
        .notewords {
            font-size: 70%;
        }
    
        .favourites {
            top: 190px;
            margin-left: 10%;
        }
    
        .favwords {
            font-size: 70%;
        }
    
        .closewindow {
            top: 220px;
            margin-left: 10%;
        }
    
        .closewords {
            font-size: 70%;
        }
    
        .logout {
            top: 250px;
            margin-left: 10%;
        }
    
        .logwords {
            font-size: 70%;
        }
    
}