@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

.profilecard {
    position: relative;
    width: 50%;
    height: 50%;
}

.profilehead {
    position: absolute;
    background-color: #d8c1ff;
    width: 100%;
    height: 500%;
    border-radius: 8px;
}

.end {
    position: absolute;
    left: 94%;
    top: 15%;
}

.end:hover {
    cursor: pointer;
}

.profilename {
    background-color: #866ac4;
    position: absolute;
    height: 450%;
    width: 10%;
    left: 34%;
    top: 300%;
    border-radius: 50%;
}

.name {
    position: absolute;
    top: 400%;
    left: 36%;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 370%;
    font-style: normal;
    line-height: 56px;
}

.fullname {
    position: relative;
    top: 230px;
    left: 33%;
    color: #2f2d33;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 200%;
    line-height: 24px;
}

.email {
    position: absolute;
    width: 35px;
    height: 21px;
    left: 36%;
    top: 290px;
    font-style: normal;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 180%;
    line-height: 21px;
    color: #2f2d33;
}

.changepass {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;

    left: 2%;
    top: 400px;
    text-decoration: none;
}

.passwords {
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 180%;
    line-height: 21px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #2f2d33;
}

.iconify {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.none {
    text-decoration: none;
    color: #2f2d33;
}

.note {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;

    left: 2%;
    top: 470px;
}

.notewords {
    width: 100%;

    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 180%;
    line-height: 21px;
    color: #2f2d33;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none;
}

.favourites {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;

    left: 2%;
    top: 540px;
}

.favwords {
    width: 100%;

    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 180%;
    line-height: 21px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;
    left: 2%;
    top: 610px;
}

.logwords {
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 180%;
    line-height: 21px;
    color: #2f2d33;
    flex: none;
    flex-grow: 0;
}

@media screen and (max-width:2230px) {
    .profilename {
        width: 15%;
        height: 470%;
        top: 245%;
    }

    .name {
        left: 37.5%;
    }
}

@media screen and (max-width:1440px) {
    .profilehead {
        height: 400%;
    }

    .profilename {
        width: 15%;
        left: 40%;
        top: 200%;
    }

    .name {
        left: 43%;
        font-size: 310%;
        top: 300%;
    }

    .fullname {
        left: 39%;
        font-size: 140%;
        top: 180px;
    }

    .email {
        left: 43%;
        font-size: 120%;
        top: 225px;
    }

    .changepass {
        top: 280px;

    }

    .passwords {
        font-size: 120%;
    }

    .note {
        top: 330px;

    }

    .notewords {
        font-size: 120%;
    }

    .favourites {
        top: 380px;

    }

    .favwords {
        font-size: 120%;
    }

    .logout {
        top: 430px;

    }

    .logwords {
        font-size: 120%;
    }
}

@media screen and (max-width:1170px) {
    .profilename {
        width: 18%;
        height: 318%;
        top: 245%;
    }
}

@media screen and (max-width:1024px) {
    .profilehead {
        height: 300%;
    }

    .end {
        left: 93%;
    }

    .profilename {
        width: 17%;
        height: 320%;
        left: 40%;
        top: 170%;
    }

    .name {
        left: 43%;
        font-size: 250%;
        top: 220%;
    }

    .fullname {
        left: 40%;
        font-size: 120%;
        top: 140px;
    }

    .email {
        left: 44%;
        font-size: 100%;
        top: 170px;
    }

    .changepass {
        top: 220px;
    }

    .passwords {
        font-size: 100%;
    }

    .note {
        top: 270px;

    }

    .notewords {
        font-size: 100%;
    }

    .favourites {
        top: 320px;

    }

    .favwords {
        font-size: 100%;
    }

    .logout {
        top: 370px;

    }

    .logwords {
        font-size: 100%;
    }
}

@media screen and (max-width:768px) {
    .profilehead {
        height: 250%;
    }

    .end {
        left: 90%;
    }

    .profilename {
        width: 17%;
        height: 250%;
        left: 40%;
        top: 130%;
    }

    .name {
        left: 43%;
        font-size: 180%;
        top: 140%;
    }

    .fullname {
        left: 40%;
        font-size: 80%;
        top: 110px;
    }

    .email {
        left: 44%;
        font-size: 70%;
        top: 135px;
    }

    .changepass {
        top: 180px;

    }

    .passwords {
        font-size: 70%;
    }

    .note {
        top: 220px;

    }

    .notewords {
        font-size: 70%;
    }

    .favourites {
        top: 260px;

    }

    .favwords {
        font-size: 70%;
    }

    .logout {
        top: 300px;
    }

    .logwords {
        font-size: 70%;
    }
}

@media screen and (max-width:580px) {
    .end {
        left: 85%;
    }

    .profilename {
        width: 22%;
    }

    .name {
        left: 44%;
    }

    .changepass {
        margin-left: 15%;
    }

    .note {
        margin-left: 15%;
    }

    .favourites {
        margin-left: 15%;
    }

    .logout {
        margin-left: 15%;
    }


}

@media screen and (max-width:425px) {
    .profilehead {
        height: 200%;
    }

    .end {
        left: 86%;
    }

    .profilename {
        width: 22%;
        height: 200%;
        left: 40%;
        top: 100%;
    }

    .name {
        left: 44%;
        font-size: 140%;
        top: 90%;
    }

    .fullname {
        left: 38%;
        font-size: 70%;
        top: 85px;
    }

    .email {
        left: 44%;
        font-size: 60%;
        top: 105px;
    }

    .iconify {
        width: 10%;
    }

    .changepass {
        top: 140px;
        margin-left: 6%;
    }

    .passwords {
        font-size: 70%;
    }

    .note {
        top: 170px;
        margin-left: 8%;

    }

    .notewords {
        font-size: 70%;
    }

    .favourites {
        top: 200px;
        margin-left: 8%;
    }

    .favwords {
        font-size: 70%;
    }

    .logout {
        top: 230px;
        margin-left: 8%;
    }

    .logwords {
        font-size: 70%;
    }
}

@media screen and (max-width:350px) {
    .profilehead {
        height: 200%;
    }

    .profilename {
        width: 24%;
        height: 180%;
        left: 40%;
        top: 100%;
    }

    .name {
        left: 44%;
        font-size: 120%;
        top: 80%;
    }

    .fullname {
        left: 39%;
        font-size: 60%;
        top: 80px;
    }

    .email {
        left: 45%;
        font-size: 50%;
        top: 100px;
    }

    .iconify {
        width: 10%;
    }

    .changepass {
        top: 130px;
        margin-left: 8%;

    }

    .passwords {
        font-size: 70%;
    }

    .note {
        top: 160px;
        margin-left: 10%;
    }

    .notewords {
        font-size: 70%;
    }

    .favourites {
        top: 190px;
        margin-left: 10%;
    }

    .favwords {
        font-size: 70%;
    }

    .logout {
        top: 220px;
        margin-left: 10%;
    }

    .logwords {
        font-size: 70%;
    }

}